.container{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.imgContainer{
    flex: 1;  
    height: 350px;
    position: relative;
  }
.img{
    object-fit:fill;
    height: 300px;
}

.textContainer{
    flex: 1;
}